PORT=<ingrese el puerto>
DB_HOST=<ingrese el host>
DB_PORT=<ingrese el puerto>
BD_NAME_DATABASE=<ingrese el nombre de la base de datos>
DB_USER=<ingrese el usuario>
DB_PASSWORD=<ingrese la contraseña>
DB_DIALECT=<ingrese el dialecto>
JWT_SECRET=<ingrese el secreto>
NODE_ENV=<ingrese el entorno>