<div class = "container">
    <div id="loginbox">
        <div class="row justify-content-center my-5">
            <div class="col-12">
                <h1 class="mb-4"> Datos de usuario </h1>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase mb-3">{{usuario.nombre}} {{ usuario.apellido }}</h4>
                            <p class="card-text"><strong>Email registrado:</strong>  {{ usuario.email }}</p>
                            <p class="card-text"><strong>Dirección:</strong>  {{ usuario.direccion }}</p>
                            <p class="card-text"><strong>Rol:</strong>  {{ usuario.rol }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>